.container {
    /* position: absolute; */
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

body:has(.popup) {
    overflow: hidden;
}

.popup {
    background-color: #272727;
    border: 1px solid #4a4a58;
    border-radius: 8px;
    padding: 1rem;
    max-width: 600px;
    width: 98%;
}

.popup__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font-size: 1.2rem;

    border-bottom: 1px solid #4a4a58;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    transition: .2s;
    width: 100%;
    position: relative;
}

.popup__header__title {
    font-weight: 600;
    
}

.closeBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
}

.closeBtn:hover {
    filter: brightness(0.8);
}

.closeBtn svg {
    width: 1.2rem;
    height: 1.2rem;
}

.closeIcon {
    fill: var(--fg);
    d: var(--close-icon);
}