.dolls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}