.container {
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.op {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}